body {
    background-image: url('https://cdn.hipwallpaper.com/i/79/61/RgZhWL.jpg');
    background-size: cover;
    background-color: rgba(181, 222, 231, 0.5);
    background-blend-mode: overlay;
    font-family: Quicksand;
    font-size: 20px;
    text-align: center;
}

.chat_log {
    background-color: rgba(158, 181, 164, 0.1);
    width: 60%;
    height: 55%;
    padding: 10px;
    border-radius: 25px;
    position: relative;
    margin: auto;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    text-align: start;
}

ul {
    padding-left: 0px;
}

.message {
    list-style-type: none;
    margin-top: 10px;
    margin-bottom:10px;
    display:flex;
    flex-direction: column;
}

div.message_box {
    display: inline-block;
    background-color: rgb(242, 247, 247);
    color: #063350;
    text-align: left;
    word-wrap: break-word;
    max-width: 60%;
    min-width: 5px;
    min-height: 20px;
    padding: 10px;
    border-radius: 10px;
}

.message_box#dm464 {
    background-color: darkslategrey;
    margin-left: auto;
    color: #c0c4c3;
}

.message_box#bot {
    background-color: #1d1d1d;
    color: seagreen;
    font-family: 'Courier Prime';
}

.message_user {
    color: seagreen;
    font-size: 15px;
    font-family: Quicksand;
    font-weight: bold;
}

.timestamp {
    font-size: 15px;
    color: #063350;
    padding: 3px;
}

.timestamp.dm464 {
    margin-left: auto;
}

.message_link {
    color: inherit;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    transition: 500ms;
}

.message_link:hover {
    color: darkgreen;
    text-decoration: underline;
}

.message-image {
    max-width: 70%;
    max-height: 200px;
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#input_log {
    display: none;
}

input {
    font-family: Quicksand;
    border: none;
    margin: 5px;
    font-size: 20px;
}

input:focus {
    outline: none;
}

#user {
    margin-top: 20px;
    text-align: center;
    border-radius: 10px;
}

#typed_message {
    width: 50%;
    height:100px;
    border-radius: 20px;
    text-align: left;
    padding-top: 0;
    padding-bottom: 0.4em;
    vertical-align: top;
}

button {
    font-family: Quicksand;
    border-radius: 5px;
    border-style: none;
    background-color: seagreen;
    cursor: pointer;
    transition: 500ms;
    color: white;
}

button:hover {
    background-color: darkgreen;
}

#send-button {
    display: inline-flex;
    align-items: center;
    height:30px;
    width: 75px;
}

#online_user_count {
    display: none;
}

#login-button {
    font-size: 25px;
}

/* This modal template was taken from w3schools */
#modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0);
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#popup-signin {
    background-color: #cccccc;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 50%;
    max-width: 350px;
    height: 60%;
    border-radius: 20px;
}

#close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close:hover,
#close:focus {
    color: #000;
    cursor: pointer;
}

.kep-login-facebook {
    margin:auto;
}