body {
    background-image: url('https://cdn.hipwallpaper.com/i/79/61/RgZhWL.jpg');
    background-size: cover;
    background-color: rgba(181, 222, 231, 0.5);
    background-blend-mode: overlay;
    font-family: Quicksand;
    font-size: 20px;
    text-align: center;
}

.chat_log {
    background-color: rgba(158, 181, 164, 0.1);
    width: 60%;
    height: 55%;
    padding: 10px;
    border-radius: 25px;
    position: relative;
    margin: auto;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
}

ul {
    padding-left: 0px;
}

.message {
    list-style-type: none;
}

div.message_box {
    background-color: darkslategrey;
    color: #c0c4c3;
    text-align: left;
    word-wrap: break-word;
    width: auto;
    float: left;
    max-width: 60%;
    margin: 5px;
    margin-right: 40%;
    padding: 10px;
    border-radius: 10px;
}
.message_box#bot {
    background-color: #cdfaef;
    color: black;
    font-family: 'Courier Prime';
}

.message-image {
    max-width: 70%;
    max-height: 200px;
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

input {
    font-family: Quicksand;
    border: none;
    margin: 5px;
    font-size: 20px;
}

input:focus {
    outline: none;
}

#user {
    margin-top: 20px;
    text-align: center;
    border-radius: 10px;
}

#typed_message {
    width: 50%;
    height:100px;
    border-radius: 20px;
    text-align: left;
    padding-top: 0;
    padding-bottom: 0.4em;
    vertical-align: top;
}

#send-button {
    font-family: Quicksand;
    display: inline-flex;
    align-items: center;
    height:30px;
    width: 75px;
    color: white;
    border-radius: 5px;
    border-style: none;
    background-color: seagreen;
}